*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: #041C32;
    color: #4A505D;
}

.container-grid{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.center{
    width: 70%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}

.center .header{
    width: 80%;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;   
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
}

.center .timer{
    width: 80%;
    height: 60px;
    text-align: center;
    margin-top: 60px;
    font-size: 60px;
    color: #FFC947;
}

.header .logo{
    font-size: 20px;
    color: #EBECE9;
}
.header .features{
    margin-top: 3px;
    color: #4A505D;
}

.center .typeArea{
    width: 80%;
    height: 400px;
    padding: 20px;
    margin-top: 150px;
    font-size: large;
    border: 1px solid red;
}

.typeArea:focus{
    border-color: #FFC947;
}
.center .footer{
    width: 80%;
    height: 60px;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid red;
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.correct{
    color:green
}
.incorrect{
    color:red
}

